<launch>
    <node pkg="dji_osdk_ros" type="dji_vehicle_node" name="vehicle_node" output="screen">
    <!-- node parameters -->
    <param name="acm_name" type="string" value="/dev/ttyACM0"/>
    <param name="serial_name" type="string" value="/dev/ttyUSB0"/>
    <param name="baud_rate" type="int" value="921600"/>
    <param name="app_id" type="int" value="1119576"/>
    <param name="app_version" type="int" value="1"/>
    <param name="align_time" type="bool" value="false"/> <!-- false: use ROS time -->
    <param name="enc_key" type="string" value="6f109aed0b6b170fc4edefaa6b97dec395af82f92ef56692a2aa85a3d896dfde"/>
    <param name="gravity_const" type="double" value="9.8066"/>
    <param name="xy_pos_threshold" type="double" value="4.5"/>
    <param name="xy_pos_gain" type="double" value="3.0"/> <!-- P gain -->
    <param name="xy_vel_threshold" type="double" value="3.0"/> <!-- max: 30.0m/s -->
    <param name="xy_body_rates_threshold" type="double" value="2.0"/> <!-- max: 2.617rad/s = 150.0deg/s -->
    <param name="z_pos_threshold" type="double" value="4.5"/>
    <param name="z_pos_gain" type="double" value="3.0"/> <!-- P gain -->
    <param name="z_vel_threshold" type="double" value="2.0"/> <!-- max: 5.0m/s -->
    <param name="z_body_rates_threshold" type="double" value="1.5"/> <!-- max: 2.617rad/s = 150.0deg/s -->
    </node>
</launch>
